# This file is managed by salt. Edit pillar/grafana/config
{%- from "grafana/map.jinja" import grafana with context %}
{% for section, kv in grafana.config.iteritems() %}
[{{ section }}]
{%- for key, value in kv.iteritems() %}
{{ key }} = {{ value }}
{%- endfor %}
{% endfor %}
